:root {
  font-family: monospace;
}

body {
  max-width: 800px;
  margin: auto;
  margin-top: 5rem;
}

input,
a {
  font-family: inherit;
  font-size: inherit;
}

button,
input {
  margin: 0;
  border-radius: 0;
  outline: none;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  background: inherit;
}

button:hover {
  cursor: pointer;
}

#input-container {
  margin: 1rem 0;
}

#noiseCanvas {
  width: 100%;
}